<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <h3>Contact</h3>
        {{msg}}
        <form action="send" method="POST">
            <p>
                <label for="name">
                    Name
                </label>
                <input type="text" name="name">
            </p>
            <p>
                <label for="email">
                    Email Address
                </label>
                <input type="email" name="email">
            </p>
            <p>
                <label for="message">
                    Message
                </label>
                <textarea rows="5" name="message"></textarea>
            </p>
            <p>
                <label for="name">
                    Name
                </label>
               <button type="submit">Submit </button>
            </p>
        </form>
    </div>
</body>

</html>